<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ i18n "page_not_found" }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='/css/style.min.css' rel='stylesheet' />

</head>

<body>
  <div id="wrapper" class="wrapper">

    <div class="container pt-9 pb-9 pt-md-13 pb-md-13">
      <div class="row justify-content-center align-content-between">
        <div class="col-9 text-center">
          <h1 class="display-1 text-primary mb-4">{{ i18n "page_not_found" }}</h1>
        </div>
        <div class="col-9 text-center mb-2">
          <a href="{{ .Site.Home.RelPermalink }}" class="btn btn-primary">{{ i18n "back_home" }}</a>
        </div>
        <div class="col-9 text-center mb-2">
          <a href="{{ "/contact/" | relLangURL }}" class="btn btn-primary">{{ i18n "contact_us" }}</a>
        </div>
      </div>
    </div>

  </div>
</body>

</html>