{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ if .Params.heroHeading }}
  {{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .) }}
{{ else }}
  <div class="intro intro-small">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </div>
{{ end }}
<div class="container pt-10 pb-6">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <ul>
        {{ if .Params.phone }}
        <li><strong>{{ i18n "phone_label" }} </strong>{{ .Params.phone }}</li>
        {{ end }}
        {{ if .Params.email }}
        <li><strong>{{ i18n "email_label" }} </strong><a href="mailto:{{ .Params.email }}">
            {{ .Params.email }}</a></li>
        {{ end }}
        {{ if .Params.address }}
        <li style="white-space: pre-wrap;"><strong>{{ i18n "address_label" }} </strong><br>{{ .Params.address }}</li>
        {{ end }}
      </ul>
      {{ if .Params.hours }}
      {{ end }}
      {{ if .Params.address }}
      {{ $trimmed := strings.TrimSpace .Params.address }}
      {{ $mapAddr := strings.Replace $trimmed "\n" ", " }}
      <div class="map-embed">
        <iframe src="https://www.google.com/maps?q={{ $mapAddr | urlquery }}&output=embed" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}